@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* ZERANDO CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO DA TELA */

html{
    width: 100vw; /* PEGANDO A TELA TODA*/
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}


body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(imagens/img.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* MENU HEADER - NAVBAR (BOTÕES)*/

header{
    width: 100%;
    height: 7vh;
    background: rgba(22, 22, 22, 0.2);
}

.menu{
    text-transform: uppercase; /* DEIXA TODA LETRA MAIUSCULA*/
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu .lista-itens{
   display: flex;
   list-style: none; /* TIRAR A BOLINHA DO LISTA */
   gap: 10px; /* DISTANCIAMENTO ENTRE CADA UM DELES*/
}

.menu .lista-itens a{ /*EFEITO MENU HEADER, AQUI TEM QUE SER RELATIVE E NO BEFORE ABSOLUTE*/
   text-decoration: none;
   color: white;
   padding: 1.5rem;
   transform: 2s ease-in; 
   position: relative;
}

.menu .lista-itens a:before{ /* TODO BEFORE TEM QUE TER UM CONTENT*/
    content: ' ';
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: #fa0707;
    transition: all 1.5s ease;
}

.menu .lista-itens a:hover:before{
    width: 100%;
}


/* CENTRO - CONTEUDO PRINCIPAL*/

main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TEXTOS PRINCIPAIS*/

.texto-principal{
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.segundo-texto{
    margin-bottom: 7rem;
    font-size: 2rem;
    color: lightgray;
    text-transform: uppercase;
}

/* BOTÕES DOS TEXTOS */

.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;

}
.botoes button:hover{
    color: black;
    border: none;
}
.botoes button:before{
    content: ' ';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: #f50909d2;
    z-index: -1;
    transition: 1s;
    border-radius: 20px;
}

.botoes button:hover:before{
   width: 100%;
}
